﻿
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Elements</h1>
            <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
        </header>

        <!-- Text -->
        <section>
            <h3>Text</h3>
            <p>
                This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
            </p>

            <hr />

            <header>
                <h3>Heading with a Subtitle</h3>
                <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
            </header>
            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            <header>
                <h4>Heading with a Subtitle</h4>
                <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
            </header>
            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

            <hr />

            <h2>Heading Level 2</h2>
            <h3>Heading Level 3</h3>
            <h4>Heading Level 4</h4>
            <h5>Heading Level 5</h5>
            <h6>Heading Level 6</h6>

            <hr />

            <h4>Blockquote</h4>
            <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>

            <h4>Preformatted</h4>
            <pre><code>i = 0;

while (!deck.isInOrder()) {
print 'Iteration ' + i;
deck.shuffle();
i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
        </section>

        <!-- Lists -->
        <section>
            <h3>Lists</h3>
            <div class="row">
                <div class="6u 12u$(xsmall)">

                    <h4>Unordered</h4>
                    <ul>
                        <li>Dolor pulvinar etiam magna etiam.</li>
                        <li>Sagittis adipiscing lorem eleifend.</li>
                        <li>Felis enim feugiat dolore viverra.</li>
                    </ul>

                    <h4>Alternate</h4>
                    <ul class="alt">
                        <li>Dolor pulvinar etiam magna etiam.</li>
                        <li>Sagittis adipiscing lorem eleifend.</li>
                        <li>Felis enim feugiat dolore viverra.</li>
                    </ul>

                </div>
                <div class="6u$ 12u$(xsmall)">

                    <h4>Ordered</h4>
                    <ol>
                        <li>Dolor pulvinar etiam magna etiam.</li>
                        <li>Etiam vel felis at lorem sed viverra.</li>
                        <li>Felis enim feugiat dolore viverra.</li>
                        <li>Dolor pulvinar etiam magna etiam.</li>
                        <li>Etiam vel felis at lorem sed viverra.</li>
                        <li>Felis enim feugiat dolore viverra.</li>
                    </ol>

                    <h4>Icons</h4>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
                    </ul>

                </div>
            </div>

            <h4>Actions</h4>
            <ul class="actions">
                <li><a href="#" class="button special">Special</a></li>
                <li><a href="#" class="button">Default</a></li>
                <li><a href="#" class="button alt">Alternate</a></li>
            </ul>
            <ul class="actions small">
                <li><a href="#" class="button special small">Small</a></li>
                <li><a href="#" class="button small">Small</a></li>
                <li><a href="#" class="button alt small">Small</a></li>
            </ul>
            <div class="row">
                <div class="3u 6u(small) 12u$(xsmall)">
                    <ul class="actions vertical">
                        <li><a href="#" class="button special">Vertical</a></li>
                        <li><a href="#" class="button">Vertical</a></li>
                        <li><a href="#" class="button alt">Vertical</a></li>
                    </ul>
                </div>
                <div class="3u 6u$(small) 12u$(xsmall)">
                    <ul class="actions vertical small">
                        <li><a href="#" class="button special small">Small</a></li>
                        <li><a href="#" class="button small">Small</a></li>
                        <li><a href="#" class="button alt small">Small</a></li>
                    </ul>
                </div>
                <div class="3u 6u(small) 12u$(xsmall)">
                    <ul class="actions vertical">
                        <li><a href="#" class="button special fit">Fit</a></li>
                        <li><a href="#" class="button fit">Fit</a></li>
                        <li><a href="#" class="button alt fit">Fit</a></li>
                    </ul>
                </div>
                <div class="3u$ 6u$(small) 12u$(xsmall)">
                    <ul class="actions vertical small">
                        <li><a href="#" class="button special small fit">Small</a></li>
                        <li><a href="#" class="button small fit">Small</a></li>
                        <li><a href="#" class="button alt small fit">Small</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Table -->
        <section>
            <h3>Table</h3>
            <h4>Default</h4>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item 1</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item 2</td>
                            <td>Vis ac commodo adipiscing arcu aliquet.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item 3</td>
                            <td> Morbi faucibus arcu accumsan lorem.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item 4</td>
                            <td>Vitae integer tempus condimentum.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item 5</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h4>Alternate</h4>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item 1</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item 2</td>
                            <td>Vis ac commodo adipiscing arcu aliquet.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item 3</td>
                            <td> Morbi faucibus arcu accumsan lorem.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item 4</td>
                            <td>Vitae integer tempus condimentum.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item 5</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <h3>Buttons</h3>
            <ul class="actions">
                <li><a href="#" class="button special">Special</a></li>
                <li><a href="#" class="button">Default</a></li>
                <li><a href="#" class="button alt">Alternate</a></li>
            </ul>
            <ul class="actions">
                <li><a href="#" class="button special big">Big</a></li>
                <li><a href="#" class="button">Default</a></li>
                <li><a href="#" class="button alt small">Small</a></li>
            </ul>
            <div class="row">
                <div class="6u 12u$(xsmall)">
                    <ul class="actions fit">
                        <li><a href="#" class="button fit">Fit</a></li>
                        <li><a href="#" class="button alt fit">Fit</a></li>
                    </ul>
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <ul class="actions fit small">
                        <li><a href="#" class="button fit small">Fit + Small</a></li>
                        <li><a href="#" class="button alt fit small">Fit + Small</a></li>
                    </ul>
                </div>
            </div>
            <ul class="actions">
                <li><a href="#" class="button special icon fa-download">Icon</a></li>
                <li><a href="#" class="button icon fa-download">Icon</a></li>
                <li><a href="#" class="button alt icon fa-download">Icon</a></li>
            </ul>
            <ul class="actions">
                <li><span class="button special disabled">Special</span></li>
                <li><span class="button disabled">Default</span></li>
                <li><span class="button alt disabled">Alternate</span></li>
            </ul>
        </section>

        <!-- Form -->
        <section>
            <h3>Form</h3>
            <form method="post" action="#">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                    </div>
                    <div class="12u$">
                        <div class="select-wrapper">
                            <select name="demo-category" id="demo-category">
                                <option value="">- Category -</option>
                                <option value="1">Manufacturing</option>
                                <option value="1">Shipping</option>
                                <option value="1">Administration</option>
                                <option value="1">Human Resources</option>
                            </select>
                        </div>
                    </div>
                    <div class="4u 12u$(xsmall)">
                        <input type="radio" id="priority-low" name="priority" checked>
                        <label for="priority-low">Low Priority</label>
                    </div>
                    <div class="4u 12u$(xsmall)">
                        <input type="radio" id="priority-normal" name="priority">
                        <label for="priority-normal">Normal Priority</label>
                    </div>
                    <div class="4u$ 12u$(xsmall)">
                        <input type="radio" id="priority-high" name="priority">
                        <label for="priority-high">High Priority</label>
                    </div>
                    <div class="6u 12u$(small)">
                        <input type="checkbox" id="copy" name="copy">
                        <label for="copy">Email me a copy of this message</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <input type="checkbox" id="human" name="human" checked>
                        <label for="human">I am a human and not a robot</label>
                    </div>
                    <div class="12u$">
                        <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

        <!-- Image -->
        <section>
            <h3>Image</h3>
            <h4>Fit</h4>
            <div class="box alt">
                <div class="row 50% uniform">
                    <div class="12u$"><span class="image fit"><img src="images/pic11.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic04.jpg" alt="" /></span></div>
                    <div class="4u$"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
                    <div class="4u$"><span class="image fit"><img src="images/pic04.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic04.jpg" alt="" /></span></div>
                    <div class="4u"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
                    <div class="4u$"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
                </div>
            </div>

            <h4>Left &amp; Right</h4>
            <p><span class="image left"><img src="images/pic06.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
            <p><span class="image right"><img src="images/pic06.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
        </section>

    </div>
</section>