﻿<section id="banner">
    <div class="inner">
        <h1>
            Introspect: <span>
                A free + fully responsive<br />
                site template by TEMPLATED
            </span>
        </h1>
        <ul class="actions">
            <li><a href="#" class="button alt">Get Started</a></li>
        </ul>
    </div>
</section>
