﻿<section id="one">
    <div class="inner">
        <header>
            <h2>Magna Etiam Lorem</h2>
        </header>
        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
        <ul class="actions">
            <li><a href="#" class="button alt">Learn More</a></li>
        </ul>
    </div>
</section>
