﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Introspect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Assests/css/main.css" rel="stylesheet" />
</head>
<body>

    <!-- Header -->
    @{Html.RenderAction("Header", "SiteSharedLayout"); }
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    @RenderBody()
   

    <!-- Footer -->
    @{Html.RenderAction("Footer", "SiteSharedLayout"); }


    <!-- Scripts -->
    <script src="~/Assests/js/jquery.min.js"></script>
    <script src="~/Assests/js/skel.min.js"></script>
    <script src="~/Assests/js/util.js"></script>
    <script src="~/Assests/js/main.js"></script>

</body>
</html>

