﻿@using UmbracoLearning.Models
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationList>>
@helper RenderSubItems(List<NavigationList> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <a href="@item.Link.Url" target="@item.Link.Target">@item.Link.Text</a>
            if (item.HasSubNavigation)
            {
                @RenderSubItems(item.NavItems)
            }
        }
    }
}
<header id="header">
    <div class="inner">
        <a href="/" class="logo">introspect</a>
        <nav id="nav">
            @RenderSubItems(Model)
        </nav>
    </div>
</header>
